<% provide(:title, "アカウント設定") %>

<h1>アカウント設定</h1>

<%= form_with(model: @account, url: settings_account_path, method: :patch, data: { turbo: false }) do |form| %>
  <%= render "shared/error_messages", instead: @account %>

  <div>
    <%= form.label :name, "名前", class: "custom-label" %>
    <%= form.text_field :name, class: "custom-textfield" %>
  </div>
  <br />
  <div>
    <%= form.label :name_id, "ID", class: "custom-label" %>
    <%= form.text_field :name_id, class: "custom-textfield" %>
  </div>
  <br />
  <div>
    <%= form.label :description, "説明", class: "custom-label" %>
    <%= form.text_area :description, class: "custom-textarea" %>
  </div>
  <br />
  <div>
    <%= form.label :birthdate, "生年月日", class: "custom-label" %>
    <%= form.datetime_field :birthdate %>
  </div>
  <br />
  <div>
    <%= form.label :visibility, "公開", class: "custom-label" %>
    <%= form.select :visibility, Account.visibilities.keys.map { |k| [t("activerecord.enums.account.visibility.#{k}"), k] }, {} %>
  </div>
  <br />
  <div>
    <%= form.submit "更新", class: "custom-button" %>
  </div>
<% end %>

<br />
<br />
現在のサブスクリプション: <%= I18n.t("general.subscription.status.#{@current_account.subscription_plan}") %>
<br />
<br />
<br />
<%= button_to "ANYURと連携", oauth_start_path, method: :post, params: { provider: "anyur" }, data: { turbo: false }, class: "pages-link-button" %>
<br />
<%= button_to "ANYURの情報を更新", oauth_fetch_path, method: :post, params: { provider: "anyur" }, data: { turbo: false }, class: "pages-link-button" %>
<br />
<%= link_to("アイコンを変更", settings_icon_path) %>
<br />
<br />
<br />
<br />
<br />
<br />

<%= button_to "アカウントを削除", settings_leave_path, method: :delete, class: "custom-delete-button" %>
