<div id="<%= dom_id document %>">
  <strong>Title:</strong> <%= document.title %>
  <br />
  <strong>NameId:</strong> <%= document.name_id %>
  <br />
  <strong>Visibility:</strong> <%= document.visibility %>
  <br />
  <strong>Sutatus:</strong> <%= document.status %>
</div>
