<div>
  <strong>ID:</strong> <%= image.aid %><br />
  <strong>画像名:</strong> <%= image.name %><br />
  <strong>公開状態:</strong> <%= image.visibility %><br />
  <strong>状態:</strong> <%= image.status %><br />
  <strong>variant_type:</strong>
    <%= image.variant_type.present? ? 'あり: ' + image.variant_type : 'なし' %>
    <%= button_to('削除', delete_variant_image_path(image.aid), method: :delete, data: { turbo: false }) %>
  <strong>original_ext:</strong>
    <%= image.original_ext.present? ? 'あり: ' + image.original_ext : 'なし' %>
    <%= button_to('削除', delete_original_image_path(image.aid), method: :delete, data: { turbo: false }) %>
  <strong>操作:</strong>
  <%= form_with url: create_variant_image_path(image.aid), method: :post, data: { turbo: false } do %>
    <div>
      <%= label_tag :variant_type, "variant_type" %>
      <%= select_tag :variant_type, options_for_select(['icon', 'q-icon', 'banner', 'q-banner', 'normal', 'q-normal', 'd-normal', 'emoji', 'q-emoji']) %>
    </div>
    <div>
      <%= submit_tag "送信" %>
    </div>
  <% end %>
  <%= link_to('見る', image_path(image.aid)) %>
  <%= link_to('編集', edit_image_path(image.aid)) %>
  <br />
  <%= image_tag(image.image_url, alt: "#{image.name}", style: 'width: 140px;') %>
  <hr />
</div>
