<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(content_for(:title)) %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="application-name" content="App">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>

    <header>
      <div>
        <%= link_to("App", root_path) %>
      </div>
      <div>
        <% if @current_account %>
          名前: <%= link_to(@current_account.name, account_path(@current_account.name_id)) %>
        <% else %>
          <%= link_to('開始', sessions_start_path) %>
        <% end %>
      </div>
    </header>

    <main>
      <%= yield %>
    </main>

    <div id="flash">
      <%= render "shared/flash" %>
    </div>

    <footer>
      <div>
        <%= link_to("App", root_path) %>
      </div>
      <div>
        <%= link_to("利用規約", terms_of_service_path) %>
        <%= link_to("プライバシーポリシー", privacy_policy_path) %>
        <%= link_to("お問い合わせ", contact_path) %>
        <%= link_to("サイトマップ", sitemap_path) %>
      </div>
      <div>
        <small>© App</small>
      </div>
    </footer>
  </body>
</html>
